<center>
<h1><%= Date.current %> 今天谁做卫生~~？</h1>

<div id="main-info">

<% if @cleaner_info[:type] == :normal %>
<div id="scratch">
  <% if @unreveal %>
    <div id="card" class="cleaner" ch-id="<%= @clean_history.id %>">
  <% else %>
    <div class="cleaner">
      <img src="<%= @scratch %>" id="reveal-scratch">
  <% end %>
      <%= @cleaner_info[:cleaner] %>
    </div>
  </div>
<% else %>
  <h1><%= @cleaner_info[:cleaner] %></h1>
  <% end %>

  <% unless @unreveal && @cleaner_info[:type] == :normal %>
  <div class="">
    开奖: <%= @revealer_name %><br>
    <%= ((@cleaner_info[:user].ticket+1)**3 / @total_tickets.to_f * 100).round(1) %> %
  </div>
  <% end %>

</div>

<% unless @unreveal && @cleaner_info[:type] == :normal%>
=====持票统计=====<p>
<table>
<tr>
  <th></th>
  <th></th>
  <th></th>
  <!-- <th></th> -->
  <!-- <th></th> -->
</tr>

<% @ulist.each_with_index do |u, i| %>
<tr>
  <td class="cleaner_name"><span class="emoji"><%= @emoji[i] %></span><%= u.name %></td>
  <td><%= u.ticket %></td>
  <td><%= (u.ticket**3 / @total_tickets.to_f * 100).round(1) %>%</td>
  <!-- <td></td> -->
    <!-- <td></td> -->
</tr>
<% end %>

</table>
</csnter>
<% end %>
