<center>
<h1><%= Date.current %> 今天谁做卫生~~？</h1>

<div id="main-info">

<% if @cleaner_info[:type] == :normal %>
<div id="scratch">
  <% if @unreveal %>
  <div id="card" class="cleaner" ch-id="<%= @clean_history.id %>">
    <% else %>
    <div class="cleaner">
      <img src="<%= @scratch %>" id="reveal-scratch">
      <% end %>
      <%= @cleaner_info[:cleaner] %>
    </div>
  </div>
  <% else %>
  <h1><%= @cleaner_info[:cleaner] %></h1>
  <% end %>

  <% unless @unreveal %>
  <div class="">
    开奖: <%= @revealer_name %>
  </div>
  <% end %>

</div>

<% unless @unreveal %>
=====持票统计=====<p>
<table>
<tr>
  <th></th>
  <th></th>
</tr>

<% User.inlab.order(:ticket).each do |u| %>
<tr>
  <td><%= u.name %></td>
  <td><%= u.ticket %></td>
</tr>
<% end %>

</table>
</csnter>
<% end %>
